# base ignoreable files
coverage
.nyc_output
Dockerfile
docker-compose.ci.yml
CHANGELOG.md
tsconfig.json
.development.env
.prettierrc
.eslintrc.js
.dockerignore
.gitignore
.editorconfig
.commitlintrc.js
node-prune.sh
.circleci
bin
lint-staged.config.js
./**/*.spec.*
.github
.eslintcache
.releaserc
tsup.config.ts
# typescript specific ignorable files
src